<div class="modal modalForResults" tabindex="-1" id="resultModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hi <%= @name ? @name  : "" %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p> You have a <%=@result%> </p>
      </div>
      <div class="modal-footer">
        <button id="closeModal" class="btn btn-secondary btn-sm">Close</button>
      </div>
    </div>
  </div>
</div>


<script>

// Close the modal and clear the form using event delegation
  $(document).on('click', '#closeModal', function() {
    $('.modalForResults').modal('hide')
    $('#hand_parser_form').trigger('reset')
  })

</script>
