<style>
	#mainContainer {
		margin: auto;
	  width: 50%;
	  padding: 10px;
	}
	#mainRow {
		margin-top: 50px;
	}
</style>

<div class="container" id="mainContainer">
	<h4 style="margin-top: 50px;">Poker Hand Checker</h4>
	<div class="row" id="mainRow">
		<form id="hand_parser_form">
		  <div class="mb-3">
		    <label class="form-label">Name</label>
		    <input class="form-control form-control-sm" id="name">
		  </div>
		  <div class="mb-3">
		    <label class="form-label">Enter A Hand</label>
		    <input class="form-control form-control-sm" id="hand" placeholder="Ex: 2D 2C 2K QD KC">
		  </div>
		  <div class="mb-3">
				<button id="submitBtn" type="submit" class="btn btn-primary btn-sm" disabled>Submit</button>
		  </div>
		</form>
	</div>
<!-- Example Codes -->
<div class="accordion" id="accordionExample">

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Examples
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      	<ul>
      		<li><code>2H2D2CKCQD</code></li>
      		<li><code>2H5H7D8C9S</code></li>
      		<li><code>AH2D3C4C5D</code></li>
      		<li><code>2H3H2D3C3D</code></li>
      		<li><code>2H7H2D3C3D</code></li>
      		<li><code>2H7H7D7C7S</code></li>
      		<li><code>10HJHQHKHAH</code></li>
      		<li><code>4H4SKS5D10S</code></li>
      	</ul>
      </div>
    </div>
  </div>
</div>	
</div>


<div class="modalForResults">
	<%= render :partial => 'hand_parser' %>
</div>


<script>

$('#name, #hand').on('change', function() {
	if ($(this).val() != "") {
		$('#submitBtn').prop('disabled', false)
	}
	else {
		$('#submitBtn').prop('disabled', true)
	}
})

// This funtion use getters method to get the input values and makes an ajax call to send the params to 'hand_parser' method
	$('#submitBtn').on('click', function(e) {
		e.preventDefault();

		let name = $('#name').val()
		let submittedHandValue = $('#hand').val()

		$.ajax({
			url: '/poker_hand_checker/hand_parser',
			data: {'value':  submittedHandValue, name},
			type: 'post'
		}).done(function(response) {
			$('.modalForResults').html(response)
			$('.modalForResults').modal('show')
		})
	})

</script>
